* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #33475b;
  font-family: 'Roboto', sans-serif;
}

/* css generale */

/* spostamenti */
.container-80 {
  height: 100%;
  width: 80%;
  margin: auto;
}
.container-70 {
  width: 70%;
}
.container-50 {
  width: 50%;
}
.container-40 {
  width: 40%;
}
.inline-block li {
  display: inline-block;
  padding: 0 10px;
}
.inline-block li:first-child {
  padding-left: 0;
}
.inline-block li:last-child {
  padding-right: 0;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /spostamenti */

/* sezione stilistica */
li {
  list-style: none;
}
a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* /sezione stilistica */
h1 {
  font-size: 50px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
h4.uppercase {
  text-transform: uppercase;
  margin-bottom: 25px;
}
p {
  margin: 50px 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
p.mid {
  margin: 30px 0
}
p.small {
  font-size: 0.8em
}
.white-box {
  background-color: #ffffff;
  border-radius: 5px;
}
.fas.fa-check-circle {
  color: #fe7d61;
  padding-right: 10px;
}

/* pulsanti */
.btn {
  font-weight: 400;
  font-size: 13px;
  border: 2px solid #ff7a59;
  border-radius: 5px;
}
.btn.btn-orange {
  color: #ffffff;
  background-color: #ff7a59;
}
.btn.btn-white {
  color: #ff7a59;
  background-color: #ffffff;
}
.btn.btn-small {
  padding: 10px;
}
.btn.btn-big {
  padding: 20px 35px;
}
.btn:hover {
  text-decoration: none;
}
/* /pulsanti */
/* /css generale */

/* css header */
/* css header top */
#header-top {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #f5f8fa;
  border-bottom: 1px solid #33475b;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#header-top .lang-contact ul li:first-child a {
  padding-right: 20px;
  border-right: 2px solid #33475b;
}
/* /css header top */

/* css header mid */
#header-mid {
  height: 80px;
  line-height: 78px;
  margin-top: 80px;
  background-color: #ffffff;
}
#header-mid .header-mid-left > #logo {
  width: 100px;
  cursor: pointer;
  vertical-align: middle;
}
#header-mid .header-mid-right li:hover {
  background-color: #f5f8fa;
  border-bottom: 2px solid #33475b;
}
#header-mid .header-mid-right li:hover a {
  text-decoration: none;
}
#header-mid .header-mid-right li i {
  padding-left: 5px;
}
/* /css header mid */

/* css header bottom */
#header-bottom {
  position: relative;
  height: 700px;
  padding-top: 80px;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #fff4ef;
}
#header-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #afebe4;
  border-top: 3px solid #374a5e;
  border-bottom: 3px solid #374a5e;
}
#header-bottom .text-section {
  width: 38%;
}
/* css header bottom */

/* /css header */

/* css main */

/* css main top */
#main-top {
  background-color: #f5f8fa;
}
/* css main-top-top */
#main-top-top {
  width: 55%;
  margin: auto;
  text-align: center;
}
#main-top-top > img {
  height: 180px;
  margin-top: 50px;
}
/* /css main-top-top */
/* css main-top-mid */
#main-top-mid {
  height: 300px;
}
#main-top-mid .main-top-mid-left {
  position: relative;
  width: 30%;
  height: 100%;
}
#book-image {
  width: 140px;
  height: 110px;
  background-image: url("../img/crm.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.main-top-mid-left button {
  margin-top: 20px;
}
#main-top-mid .main-top-mid-right {
  width: 70%;
  height: 100%;
  padding: 40px;
}
#main-top-mid .main-top-mid-right hr {
  margin-top: 12px;
  border: 1px solid #33475b;
}
/* /css main-top-mid */
/* css main-top-bottom */
#main-top-bottom .column {
  width: 25%;
  margin: 50px 0;
  padding: 20px 50px;
  text-align: center;
}
#main-top-bottom .column:nth-child(2) {
  margin: 50px 12.5%;
}
#main-top-bottom .column > img {
  width: 100px;
  margin-bottom: 10px;
}
#main-top-bottom .column > p {
  margin-bottom: 70px;
}
#main-top-bottom .column > h4,
#main-top-bottom .column > hr {
  margin-bottom: 40px;
}
#main-top-bottom .column > ul li {
  text-align: left;
}
/* /css main-top-bottom */
/* /css main top */

#main-mid {
  height: 500px;
  background-image: linear-gradient(to right, #00acb6, #00baa7);
}
#main-bottom {
  height: 500px;
  background-color: #ffffff;
}
/* /css main */

/* css footer */
footer {
  background-color: #2d3e50;
}
#footer-top {
  height: 400px;
  border-bottom: 1px solid #7c98b6;
}
#footer-bottom {
  height: 100px;
}
/* /css footer */
