* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8fa;
}

/* css generale */
#header-top,
#header-mid,
#header-bottom,
#main-top,
#main-mid,
#main-bottom,
#footer-top,
#footer-bottom {
  padding: 0 10%;
}
.inline-block {
  display: inline-block;
}
a {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a,
i {
  color: #33475b;
}
#separator {
  height: 100px;
  background-color: #afebe4;
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
}
/* /css generale */

/* css header */

/* header top */
#header-top {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #33475b;
}
#header-top .lang-contact {
  width: 69%;
}
#header-top .lang-contact li:first-child a {
  padding-right: 20px;
  border-right: 2px solid #33475b;
}
#header-top .lang-contact li:last-child i {
  padding-left: 20px;
}
#header-top .register-input {
  width: 30%;
}
.register-input .search button {
  border: none;
  cursor: pointer;
}
/* /header top */


#header-mid {
  height: 60px;
  background-color: #ffffff;
}
#header-bottom {
  height: 700px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* /css header */

/* css main */
#main-top {
  height: 1000px;
}
#main-mid {
  height: 500px;
  background-image: linear-gradient(to right, #00acb6, #00baa7);
}
#main-bottom {
  height: 500px;
  background-color: #ffffff;
}
/* /css main */

/* css footer */
footer {
  background-color: #2d3e50;
}
#footer-top {
  height: 400px;
  border-bottom: 1px solid #7c98b6;
}
#footer-bottom {
  height: 100px;
}
/* /css footer */
