* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  color: #33475b;
  font-family: 'Montserrat', sans-serif;
}

/* css generale */

/* spostamenti */
.container-70 {
  width: 70%;
  margin: auto;
}
.row-60 {
  width: 60%;
  margin: auto;
}
.inline-block {
  display: inline-block;
}
.inline-block li {
  display: inline-block;
  padding: 0 10px;
}
.inline-block li:first-child {
  padding-left: 0;
}
.inline-block li:last-child {
  padding-right: 0;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-align-y {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);

}
/* /spostamenti */

/* sezione stilistica */
li {
  list-style: none;
}
a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button.btn:hover {
  cursor: pointer;
}
h1 {
  font-size: 44px;
}
h1.small {
  font-size: 38px;
}
h2 {
  font-size: 25px;
}
h2.big {
  font-size: 27px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 13px;
}
h4.uppercase {
  text-transform: uppercase;
}
h5 {
  font-size: 35px;
}
h6 {
  font-size: 10px;
  font-weight: lighter;
}
h5,
h6 {
  color: #ffffff;
}
p {
  margin: 30px 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}
p.small {
  margin: 30px 0;
  font-size: 0.8em
}
.entity {
  color: #ffffff;
  font-size: 20px;
}
.bold {
  font-weight: bold;
  padding-left: 2px;
}
.white-box {
  background-color: #ffffff;
  border-radius: 5px;
}
.fas.fa-check-circle {
  color: #fe7d61;
  padding-right: 10px;
}
/* /sezione stilistica */

/* pulsanti */
.btn {
  font-weight: 400;
  border: 2px solid #ff7a59;
  border-radius: 5px;
}
.btn.btn-orange {
  color: #ffffff;
  background-color: #ff7a59;
}
.btn.btn-orange:hover {
  background-color: #ffbcac;
  border-color: #ffbcac;
}
.btn.btn-white {
  color: #ff7a59;
  background-color: #ffffff;
}
.btn.btn-white:hover {
  background-color: #fff1ee;
  border-color: #ff7a59;
}
.btn.btn-small {
  padding: 10px;
}
.btn.btn-mid {
  padding: 12px 23px;
}
.btn.btn-big {
  padding: 20px 35px;
}
.btn:hover {
  text-decoration: none;
}
/* /pulsanti */

/* /css generale */

/* css header */

/* css header top */
#header-top {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #f5f8fa;
  border-bottom: 1px solid #33475b;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#header-top .lang-contact ul li:first-child a {
  padding-right: 20px;
  border-right: 2px solid #33475b;
}
/* /css header top */

/* css header mid */
#header-mid {
  height: 80px;
  line-height: 78px;
  margin-top: 80px;
  background-color: #ffffff;
}
#header-mid .header-mid-left > #logo {
  width: 100px;
  cursor: pointer;
  vertical-align: middle;
}
#header-mid .header-mid-right li:hover {
  background-color: #f5f8fa;
  border-bottom: 2px solid #33475b;
}
#header-mid .header-mid-right li:hover a {
  text-decoration: none;
}
#header-mid .header-mid-right li i {
  padding-left: 5px;
}
/* /css header mid */

/* css header bottom */
#header-bottom {
  position: relative;
  height: 700px;
  padding-top: 80px;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #fff4ef;
}
#header-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #afebe4;
  border-top: 3px solid #374a5e;
  border-bottom: 3px solid #374a5e;
}
#header-bottom .text-section {
  width: 38%;
}
/* css header bottom */
/* /css header */


/* css main */

/* css main top */
#main-top {
  background-color: #f5f8fa;
}
/* css main-top-top */

#main-top-top {
  width: 55%;
  margin: auto;
  text-align: center;
}
#main-top-top > img {
  width: 190px;
  margin-top: 40px;
}
/* /css main-top-top */

/* css main-top-mid */
#main-top-mid .white-box{
  height: 250px;
}
.white-box .learn-side {
  position: relative;
  width: 30%;
  height: 100%;
}
.white-box .learn-side  img {
  width: 120px;
  margin: 10px 0;
}
.white-box .learn-side  a{
  display: block;
  margin-top: 10px;
}
.white-box .crm-side {
  position: relative;
  width: 70%;
  height: 100%;
}
.white-box .crm-side .center-align-y {
  width: 80%;
}
.crm-side p {
  margin: 25px 0;
}
.crm-side .text-rule-align {
  height: 50px;
  line-height: 50px;
}
.crm-side h4 {
  width: 30%;
  margin-bottom: 30px;
}
.crm-side hr {
  width: 68%;
  margin-bottom: 0px;
  margin-top: 25px;
  border-top: 2px solid #33475b;
}
/* /css main-top-mid */

/* css main-top-bottom */
#main-top-bottom .column {
  width: 25%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px 40px 0 40px;
}
.column .column-top {
  height: 280px;
  text-align: center;
  border-bottom: 2px solid #33475b;
}
.column .column-top > img {
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
}
.column .column-top > p {
  margin: 15px 0;
}
.column .column-bottom {
  text-align: center;
}
.column .column-bottom h4 {
  margin: 25px 0;
}
.column .column-bottom ul {
  text-align: left;
}
.column .column-bottom ul li {
  font-weight: bold;
}
.column .column-bottom button {
  margin: 40px 0 20px 0;
}
#main-top-bottom .column:nth-child(2) {
  margin-left: 12.5%;
  margin-right: 12.5%;
}
/* /css main-top-bottom */

/* /css main top */

/* css main mid */
#main-mid {
  padding-bottom: 50px;
  text-align: center;
  background-image: linear-gradient(to right, #00acb6, #00baa7);
}
#main-mid .container-70 {
  padding-top: 40px;
}
#main-mid h2,
#main-mid p {
  color: #ffffff;
}
#main-mid p {
  margin-bottom: 50px;
}

/* css main mid bottom */
#main-mid .main-mid-bottom .row {
  height: 150px;
}
.main-mid-bottom .row .square {
  position: relative;
  width: calc(100% / 4);
  height: 100%;
}
.main-mid-bottom .row .square {
  border-right: 1px solid #ffffff;
}
.row:last-child .square:first-child img {
  width: 130px;
}
.main-mid-bottom .row .square h5 {
  margin: 10px 0;
  line-height: 35px;
}
.main-mid-bottom .row .square h5 .entity {
  padding-left: 5px;
  font-weight: 400;
  vertical-align: bottom;
}
.main-mid-bottom .row .square p.small {
}
.main-mid-bottom .row .square:last-child {
  border-right: none;
}
#main-mid .main-mid-bottom .row:first-child {
  border-bottom: 1px solid #ffffff;
}
#main-bottom {
  padding-top: 40px;
  background-color: #ffffff;
}
#main-bottom .row-60 .row-60-left {
  width: 38%;
}
.row-60 .row-60-left .text-container {
  width: 50%;
}

#main-bottom .row-60 .row-60-right {
  width: 62%;
}
.row-60-right .logo-row img {
  width: calc(100% / 4 - 25px);
  margin: 0 3.125px;
  vertical-align: middle;
}
#main-bottom .container-70 {
  height: 400px;
  padding: 50px 0 0 0;
}
#main-bottom .left-bottom-side {
width: 41%;
}
.left-bottom-side a {
  display: inline-block;
  margin: 10px 0;
}
.left-bottom-side p.small {
  margin: 30px 0 0 0;
}
#main-bottom .right-bottom-side {
  position: relative;
  width: 59%;
  height: 100%;
}
.right-bottom-side img {
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 40%;
}
/* /css main mid bottom */
/* /css main */

/* css footer */
footer {
  background-color: #2d3e50;
}
footer h4,
footer li,
footer i,
footer div,
footer p,
footer span,
footer a.legal-privacy {
  color: #cbd6e2;
}
#footer-top {
  padding: 40px 0 20px 0;
  border-bottom: 1px solid #7c98b6;
}
#footer-top .footer-column {
  width: calc(100% / 4);
}
.footer-column h4 {
  color: #ffffff;
}
.footer-column ul {
  margin: 30px 0 80px 0;
}
.footer-column ul li {
  margin-bottom: 17px;
  font-weight: 500;
}
#btn-footer {
  font-weight: 700;
  background-color: #cbd6e2;
  font-size: 11px;
  padding: 10px;
  border: none;
}
#btn-footer:hover {
  background-color: #eaf0f6;
}
.footer-column ul > li.social {
  width: 70%;
}
.footer-column ul > li.social a {
  width: calc(100% / 5 - 1%);
  margin: 0 0.5%;
}
.footer-column ul > li.social a:first-child {
  margin-left: 0;
  margin-right: 0.5%;
}
.footer-column ul > li.social a:last-child {
  margin-left: 0.5%;
  margin-right: 0;
}
.footer-column ul > li > a > i {
  font-size: 13px;
}
.footer-column ul > li.social a:hover i {
  color: #eaf0f6;
}
#languages {
  text-align: center;
}
#languages .lang {
  padding: 0 10px;
}
#footer-bottom {
  padding: 30px 0;
}
.footer-bottom-left p {
  margin: 0;
  color: #cbd6e2;
}
.footer-bottom-left p span::before {
  content: "\00a9";
  font-weight: bold;
}
.footer-bottom-right a {
  margin-left: 20px;
}
/* /css footer */
